# PostgreSQL
POSTGRES_DB=makine_db
POSTGRES_USER=makine_user
POSTGRES_PASSWORD=CHANGE_MOI_mot_de_passe_fort

# Application
NEXT_PUBLIC_APP_URL=https://makine.store
NEXT_PUBLIC_APP_NAME=Makiné
NEXTAUTH_SECRET=GENERER_openssl_rand_hex_32
ADMIN_PASSWORD=CHANGE_MOI_admin

# Wave API
WAVE_API_KEY=wave_sn_prod_rz4CeQI-2MeWuKjL6wv2YDVT_4iGzZkLpRbjGQYlUTOeU5jw1Ng0EpKDIZdxE6qBG0SemJYdlisu43y0Ru9SbOJYkfdEMLWLyQ
WAVE_SIGNING_SECRET=wave_sn_WHS_57jbz7cx7dx34j1kytabnn9zz9ct7xwa7gkq87qhw0qggfnpxdm0
WAVE_CHECKOUT_API_KEY=wave_sn_prod_rz4CeQI-2MeWuKjL6wv2YDVT_4iGzZkLpRbjGQYlUTOeU5jw1Ng0EpKDIZdxE6qBG0SemJYdlisu43y0Ru9SbOJYkfdEMLWLyQ

# Orange Money
ORANGE_MONEY_CLIENT_ID=6169a61e-d6bb-48be-b899-0f9dbfe78b05
ORANGE_MONEY_CLIENT_SECRET=3e5833e0-3151-449a-800c-4a322d7d268b
ORANGE_MONEY_BASE_URL=https://api.orange-sonatel.com

# WASender
WASENDER_API_KEY=f99e1e0b546e700b0e623c681ca6c890a0eb11a9b8b3748540e99f4c039ba881
WASENDER_SESSION_ID=
WASENDER_WEBHOOK_SECRET=1b090ab3286939442718405b0593730c
WHATSAPP_BUSINESS_NUMBER=+221784715757
