# PostgreSQL
POSTGRES_DB=makine_db
POSTGRES_USER=makine_user
POSTGRES_PASSWORD=.3d6ZZq@2EdHX6A

# Application
NEXT_PUBLIC_APP_URL=https://makine.store
NEXT_PUBLIC_APP_NAME=Makiné
NEXTAUTH_SECRET=GENERER_openssl_rand_hex_32
ADMIN_PASSWORD=.3d6ZZq@2EdHX6A

# Wave API
WAVE_API_KEY=wave_sn_prod_rz4CeQI-2MeWuKjL6wv2YDVT_4iGzZkLpRbjGQYlUTOeU5jw1Ng0EpKDIZdxE6qBG0SemJYdlisu43y0Ru9SbOJYkfdEMLWLyQ
WAVE_SIGNING_SECRET=wave_sn_WHS_7seyzjnq9v4ympxcxt38htw1dctsrfy3t2pfmdfz14rhejvkqev0
WAVE_CHECKOUT_API_KEY=wave_sn_prod_rz4CeQI-2MeWuKjL6wv2YDVT_4iGzZkLpRbjGQYlUTOeU5jw1Ng0EpKDIZdxE6qBG0SemJYdlisu43y0Ru9SbOJYkfdEMLWLyQ

# Orange Money
ORANGE_MONEY_CLIENT_ID=6b2334c7-d245-4868-a229-d67e3a62d1e6
ORANGE_MONEY_CLIENT_SECRET=b3a7cbd3-e4d7-4e17-8122-b47ef6b79e1b
ORANGE_MONEY_BASE_URL=https://api.orange-sonatel.com
# Override token URL if base URL path is different (check your OM developer portal)
# ORANGE_MONEY_TOKEN_URL=https://api.orange-sonatel.com/oauth/v3/token

# WASender
WASENDER_API_KEY=f99e1e0b546e700b0e623c681ca6c890a0eb11a9b8b3748540e99f4c039ba881
WASENDER_SESSION_ID=
WASENDER_WEBHOOK_SECRET=1b090ab3286939442718405b0593730c
WHATSAPP_BUSINESS_NUMBER=+221784715757
